@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Duurzame Consumentkeuze</h1>
    <p></p>
</div>

<div class="container">
    <div class="box shadow rounded">
        <h2>Ontdek meer over <span class="text-success fst-italic">duurzame keuzes</span> als consument.</h2>

        <p>Duurzame Consumentkeuze is een huishoudelijke apparaten database gemaakt voor iedereen. Je kunt het gebruiken om duurzamere keuzes te maken, en omdat het open data is, kan iedereen het voor welk doel dan ook hergebruiken.</p>

        <a asp-controller="Home" asp-action="Privacy">
            <button class="button" type="button">Ontdek meer...</button>
        </a>
    </div>
    <div class="box shadow rounded">
        <h2>Ontdek meer over waarom <span class="text-success fst-italic">duurzame keuzes</span> zo belangrijk zijn.</h2>

        <p>In de huidige tijd wordt de noodzaak voor duurzaamheid steeds belangrijker. De impact van menselijk gedrag op het milieu is alomtegenwoordig en dwingt ons om na te denken over hoe we onze levensstijl kunnen veranderen ten gunste van de planeet. Een belangrijke uitdaging hierbij is echter het maken van duurzame keuzes in ons dagelijks leven. Vaak zijn mensen zich niet bewust van de impact van hun beslissingen, of het is te ingewikkeld of tijdrovend om de meest duurzame optie te kiezen. Bovendien ontbreekt het soms aan toegankelijke informatie om te beoordelen welke opties werkelijk duurzaam zijn. Dit alles maakt het moeilijk voor individuen om consequent duurzame keuzes te maken.</p>

        <a asp-controller="Home" asp-action="Privacy">
            <button class="button" type="button">Ontdek meer...</button>
        </a>
    </div>
</div>
<img class="image" src="/images/styling/hompage.jpg" alt="Duurzaamheid">
<div class="container1">
    <div class="box shadow rounded">
        <h2>Begin nu zelf, en zie uw <span class="text-success fst-italic">advies</span> direct!</h2>

        <a asp-controller="Home" asp-action="Privacy">
            <button class="button1" type="button">Advies opvragen</button>
        </a>
    </div>
</div>
</div>