@{
    ViewData["Title"] = "Over ons";
}
<h2>@ViewData["Title"]</h2>

<p>Duurzame Consumentkeuze is een huishoudelijke apparaten database gemaakt voor iedereen. Je kunt het gebruiken om duurzamere keuzes te maken, en omdat het open data is, kan iedereen het voor welk doel dan ook hergebruiken.</p>

<h4>Waarom?</h4>
<p>In de huidige tijd wordt de noodzaak voor duurzaamheid steeds belangrijker. De impact van menselijk gedrag op het milieu is alomtegenwoordig en dwingt ons om na te denken over hoe we onze levensstijl kunnen veranderen ten gunste van de planeet. Een belangrijke uitdaging hierbij is echter het maken van duurzame keuzes in ons dagelijks leven. Vaak zijn mensen zich niet bewust van de impact van hun beslissingen, of het is te ingewikkeld of tijdrovend om de meest duurzame optie te kiezen. Bovendien ontbreekt het soms aan toegankelijke informatie om te beoordelen welke opties werkelijk duurzaam zijn. Dit alles maakt het moeilijk voor individuen om consequent duurzame keuzes te maken.</p>

<h4>Ons doel</h4>
<p>Het doel van deze opdracht is om een digitale oplossing te ontwerpen en te ontwikkelen die mensen helpt bij het maken van duurzame keuzes in hun dagelijks leven. De oplossing moet gebruikers voorzien van gemakkelijk toegankelijke, begrijpelijke en betrouwbare informatie over de duurzaamheid van verschillende opties. Bovendien moet het platform gebruikers motiveren en stimuleren om duurzame keuzes te maken. De focus kan liggen op een specifiek aspect van het dagelijks leven (bijvoorbeeld voedsel, vervoer, energiegebruik, enz.) of het kan een breder scala aan onderwerpen bestrijken.</p>

<h1>Contacteer ons</h1>
<p>Heeft u vragen? Vul onderstaand formulier in en wij proberen zo spoedig mogelijk te reageren.</p>
<form action="process.php" method="post">
    <label for="naam">Naam:</label>
    <input type="text" id="naam" name="naam" required>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>

    <label for="bericht">Bericht:</label>
    <textarea id="bericht" name="bericht" rows="4" required></textarea>

    <input type="submit" value="Verzenden">
</form>