@model Customer
@{
    ViewData["Title"] = "Modify Customer Information";
}


@if (ViewBag.EditMode == "Budget")
{
    <div id="budget-edit">
        @Html.Partial("_PartialEditBudget", Model)
    </div>
}

@if (ViewBag.EditMode == "Email")
{
    <div id="email-edit">
        @Html.Partial("_PartialEditEmail", Model)
    </div>
}


